@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #DB70B8;

  font: normal 100%/1.5 sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  width: 300px;
  background-image: url(../artwork/clock-face.svg);
  position: relative;
}

.hand {
  width: 14px;
  position: absolute;
  /*top: 70px;
  left: 142px;*/
  top: calc(50% - 76px);
  left: calc(50% - 8px);
    
}

.center {
  width: 28px;
  position: absolute;
  /*top: 135px;
  left: 135px;*/
  top: calc(50% - 14px);
  left: calc(50% - 14px);
}
